<!-- Web.Config Configuration File -->
<configuration>
	<connectionStrings>
		<add name="healthDBConnectionString" connectionString="********" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true"/></system.web>
</configuration>
